.class-a {
  height: 100px;
  width: 100px;
  background-color: mediumpurple;
}

.class-a:hover {
  height: 200px;
  width: 200px;
  background-color: peru;
}

.li-item-class {
  color: darkred;
}

.li-item-class:first-child {
  color: fuchsia;
}

.li-item-class:last-child {
  color: red;
}

.li-item-class:nth-child(4) {
  color: rgb(37, 156, 169);
}